.feature-comics{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.feature-comics__img{
    width: 70px;
    height: 100px;
    margin-right: 1ch;
}

@media (min-width: 768px) {    
    .feature-comics{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .feature-comics__img{
        width: 100px;
        height: 150px;
        margin: 1ch;
    }
}