@import '../../css/animations.css';

.search {
    position: relative;
}

.mobile.active {
    position: absolute;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: var(--primary-dark-color);
}

.hidden {
    display: none;
}

.search__container {
    display: flex;
    align-items: center;
}

.icon-search {
    font-size: 1.2rem;
}

.search__input {
    width: 100%;
    margin-left: 1ch;
    cursor: text;
    line-height: 2rem;
    background-color: var(--primary-dark-color);
    border: none;
    border-bottom: 1px solid var(--input-color);
    color: var(--input-color);
    animation: fadeIn .5s ease;
}

.search__input:focus {
    outline: none;
}

.search__input::placeholder {
    color: var(--input-color);
}

.search__dropdown {
    padding: 1rem;
    background-color: var(--primary-dark-color);
    border-radius: 4px;
    line-height: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    animation: fadeIn .5s ease;
}

.search__dropdown li:hover {
    text-shadow: 2px 2px 2px var(--accent-color);
    font-weight: bolder;
}

@media (min-width: 768px) {    
    .icon-search {
        font-size: 1.3rem;
        cursor: pointer;
    }

    .search__input {
        width: 25rem;
        font-size: 1rem;
        margin-left: 1ch;
    }
    
    .search__dropdown {
        line-height: 1.5rem;
        cursor: pointer;
    }
}