:root {
  --primary-dark-color: #212121;
  --primary-color: #424242 ;
  --accent-color: #E50914;
  --text-color: #e0e0e0;
  --input-color: #e0e0e0;
  --link-color: #fff;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
}

header {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: var(--primary-dark-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

header>img {
  height: 100%;
}

main {
  width: 90%;
  margin: 6rem auto;
}

h1 {
  font-weight: bolder;
  color: var(--accent-color);
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--accent-color);
}

footer {
  padding: .5rem 0;
  width: 100%;
  /* background-color: var(--primary-dark-color); */
  text-align: center;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  z-index: -1;
}

@media (min-width: 768px){
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  main {
    width: 80%;
  }
}
